<h2>Template: <small>Dinámicos</small></h2>
<hr />
<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="guardar()" #miFormulario="ngForm">
      <!-- Campo -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3 justify-content-end">
          <label class="col-form-lable">Nombre</label>
        </div>
        <div class="col-sm-9">
          <input
            [(ngModel)]="persona.nombre"
            name="nombre"
            type="text"
            required
            placeholder="Nombre de la persona"
            class="form-control"
            autocomplete="off"
          />
          <span
            *ngIf="
              miFormulario.controls['nombre']?.touched &&
              miFormulario.controls['nombre']?.errors
            "
            class="form-text text-danger"
            >El nombre de la persona es obligatorio</span
          >
        </div>
      </div>
      <!-- Agregar -->
      <div class="row align-items-center mb-2">
        <div class="col">
          <div class="input-group">
            <button
              class="btn btn-outline-primary col-sm-3"
              (click)="agregarJuego()"
            >
              <i class="bi bi-arrow-90deg-down rotateY"></i> Agregar
            </button>
            <input
              [(ngModel)]="juegoNuevo"
              name="juegoNuevo"
              type="text"
              placeholder="Nombre del juego"
              class="form-control col-sm-9"
              autocomplete="off"
              (keyup.enter)="agregarJuego()"
            />
          </div>
        </div>
      </div>
      <!-- Lista -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3 justify-content-end">
          <label class="col-form-lable">Juegos</label>
        </div>
        <div class="col-sm-9">
          <div
            class="input-group mb-1"
            *ngFor="let juego of persona.juegos; let i = index"
          >
            <input
              [(ngModel)]="juego.nombre"
              name="juego_{{ i }}"
              type="text"
              class="form-control"
              autocomplete="off"
            />
            <button
              class="btn btn-outline-danger"
              type="button"
              (click)="removerJuego(i)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Boton -->
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            type="button"
            [disabled]="miFormulario.invalid"
            (click)="guardar()"
          >
            <i class="bi bi-save"></i> Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <pre>{{ persona | json }}</pre>
  </div>
</div>
