<h2>Reactivos: <small>Dinámicos</small></h2>
<hr />
<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario">
      <!-- Campo -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3 justify-content-end">
          <label class="col-form-lable">Nombre</label>
        </div>
        <div class="col-sm-9">
          <input
            formControlName="nombre"
            type="text"
            placeholder="Nombre de la persona"
            class="form-control"
            autocomplete="off"
          />
          <span
            class="form-text text-danger"
            *ngIf="!validarCampoFormulario('nombre')"
            >El nombre de la persona es obligatorio y debe tener 3 o mas
            caracteres</span
          >
        </div>
      </div>
      <!-- Agregar -->
      <div class="row align-items-center mb-2">
        <div class="col">
          <div class="input-group">
            <button
              type="button"
              class="btn btn-outline-primary col-sm-3"
              (click)="agregarJuego()"
            >
              <i class="bi bi-arrow-90deg-down rotateY"></i> Agregar
            </button>
            <input
              [formControl]="nuevoJuego"
              type="text"
              placeholder="Nombre del juego"
              class="form-control col-sm-9"
              autocomplete="off"
              (keyup.enter)="agregarJuego()"
            />
          </div>
          <!-- <span
            class="form-text text-danger offset-sm-3"
            *ngIf="!validarCampo(nuevoJuego)"
            >El nombre del juego es obligatorio y debe tener 3 o mas
            caracteres</span 
          > -->
        </div>
      </div>
      <!-- Lista -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3 justify-content-end">
          <label class="col-form-lable">Juegos</label>
        </div>
        <div class="col-sm-9" formArrayName="juegos">
          <div
            class="input-group mb-1"
            *ngFor="let juego of juegosArr.controls; let i = index"
          >
            <input
              [formControlName]="i"
              type="text"
              class="form-control"
              autocomplete="off"
            />
            <button class="btn btn-outline-danger" type="button" click="a=1">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Boton -->
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            type="button"
            (click)="guardar()"
          >
            <i class="bi bi-save"></i> Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row mt-4">
  <h4>Formulario</h4>
  <div class="col">
    <span>Valid:</span>
    <pre>{{ miFormulario.valid | json }}</pre>
  </div>
  <div class="col">
    <span>Pristine:</span>
    <pre>{{ miFormulario.pristine | json }}</pre>
  </div>
  <div class="col">
    <span>Toched:</span>
    <pre>{{ miFormulario.touched | json }}</pre>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Value:</span>
    <pre>{{ miFormulario.value | json }}</pre>
  </div>
</div>
<hr />
<div class="row">
  <h4>nuevoJuego</h4>
  <div class="col">
    <span>Value:</span>
    <pre>{{ nuevoJuego.value | json }}</pre>
  </div>
  <div class="col">
    <span>Valid:</span>
    <pre>{{ nuevoJuego.valid | json }}</pre>
  </div>
</div>
