<h2>Reactivos: <small>Básicos</small></h2>
<hr />
<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario">
      <!-- Campo -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3 justify-content-end">
          <label class="col-form-lable">Nombre</label>
        </div>
        <div class="col-sm-9">
          <input
            formControlName="nombre"
            type="text"
            placeholder="Nombre del usuario"
            class="form-control"
            autocomplete="off"
          />
          <span class="form-text text-danger" *ngIf="!validarCampo('nombre')"
            >Debe ser en formato de nombre y apellido</span
          >
        </div>
      </div>
      <!-- Campo -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3">
          <label class="col-form-lable">Email</label>
        </div>
        <div class="col-sm-9">
          <input
            formControlName="email"
            type="email"
            placeholder="Email del usuario"
            class="form-control"
            autocomplete="off"
          />
          <span class="form-text text-danger" *ngIf="!validarCampo('email')"
            >El email es obligatorio y válido</span
          >
        </div>
      </div>
      <!-- Campo -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3">
          <label class="col-form-lable">Usuario</label>
        </div>
        <div class="col-sm-9">
          <input
            formControlName="usuario"
            type="text"
            placeholder="Usuario de ingreso"
            class="form-control"
            autocomplete="off"
          />
        </div>
      </div>
      <!-- Campo -->
      <div class="row align-items-center mb-2">
        <div class="col-sm-3">
          <label class="col-form-lable">Contraseña</label>
        </div>
        <div class="col-sm-9">
          <input
            type="password"
            placeholder="Contraseña"
            class="form-control"
            autocomplete="off"
          />
          <input
            type="password"
            placeholder="Confirmar contraseña"
            class="form-control mt-1"
            autocomplete="off"
          />
        </div>
      </div>
      <!-- Boton -->
      <div class="row">
        <div class="col text-center">
          <button
            class="btn btn-primary float-end"
            type="button"
            (click)="guardar()"
          >
            <i class="bi bi-person-plus-fill"></i> Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row mt-4">
  <h4>Errores</h4>
  <div class="col">
    <span>Nombre:</span>
    <pre>{{ miFormulario.controls["nombre"].errors | json }}</pre>
  </div>
  <div class="col">
    <span>Email:</span>
    <pre>{{ miFormulario.controls["email"].errors | json }}</pre>
  </div>
  <div class="col">
    <span>Usuario:</span>
    <pre>{{ miFormulario.controls["usuario"].errors | json }}</pre>
  </div>
</div>
<hr />
<div class="row">
  <h4>Formulario</h4>
  <div class="col">
    <span>Valid:</span>
    <pre>{{ miFormulario.valid | json }}</pre>
  </div>
  <div class="col">
    <span>Pristine:</span>
    <pre>{{ miFormulario.pristine | json }}</pre>
  </div>
  <div class="col">
    <span>Toched:</span>
    <pre>{{ miFormulario.touched | json }}</pre>
  </div>
</div>
<div class="row">
  <div class="col">
    <span>Value:</span>
    <pre>{{ miFormulario.value | json }}</pre>
  </div>
</div>
<hr />
